.form-field {
    display: flex;
    justify-content: flex-start;
    margin: 8px 0;
}

.form-field label {
    display: inline-block;
    flex-basis: 150px;
    font-weight: bold;
    margin-right: 16px;
    text-align: right;
}

.form-field input[type="text"],
.form-field input[type="checkbox"],
.form-field select {
    flex-basis: 150px;
}

a {
    display: inline-block;
    text-decoration: none;
    background-color: #9ec2f9;
    color: #000;
    border: 1px solid #ccc;
    width: 300px;
    margin-top: 16px;
    padding: 8px;
    text-align: center;
}